* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Serif", serif;
  /* border-radius: 3px; */
}

.wrapper {
  max-width: 350px;
  width: 100%;
  margin: 50px auto;
  box-shadow: 2px 2px 4px rgba(129, 89, 4, 0.125);
  background: #fbf4c0;
  border-radius: 20px;
}

h1 {
  background: #e77632;
  color: #fffcea;
  text-transform: uppercase;
  padding: 18px 25px 18px 25px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.form-field {
  padding-left: 30px;
}

.textinput {
  height: 35px;
  font-size: 9pt;
  width: 290px;
  padding-left: 20px;
  border: 0px;
  border-radius: 3px;
}

::placeholder {
  color: #b17f4e;
  opacity: 200%;
}

.message {
  padding: 10px 20px;
  font-size: small;
  border: 0px;
  border-radius: 3px;
}

#submit {
  width: 350px;
  height: 50px;
  background: #f8cc37;
  border: 1px;
  margin-right: 4px;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 14pt;
  color: #523002;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

textarea:focus,
.textinput:focus {
  border: solid 2px #b38252;
  max-width: 294px;
}
